.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #60d6f7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card:hover {
  box-shadow: 0px 2px 4px lightgrey;
}


.navbar-brand{
  font-size: 2rem !important;
  padding: 0 !important;
}
.navbar {
  margin: auto;
  width: max-content;
  height: 10vh;
}

.nav-icon {
  height:2em;
  padding: 5px;
}
.nav-item {
  margin: auto;
}
.prof-img {
  justify-self: right;
  height: 20vh;
  width: auto;
  border-radius: 25px;
}
.card-container {
  
  margin-left: 2%;
  min-width: 250px;
  max-width: 600px;
}

.card {
  border: none !important;
  /* min-height: 450px; */
}
.card:hover {
  box-shadow: 0px 2px 4px lightgrey;
}
.iframe-container {
  margin-bottom: 5%;
  position: relative;
  padding-bottom: 56.25%; 
  
}

.card-text {
  margin: 0;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown {
  margin: auto;
  /* padding: 2%; */
  background-color: rgba(200, 227, 252, 0.589);
  width: 100%;

}
.box{
  max-width: 700px;;
}

.tech-stack {
  max-width: 100px;
  width: 25%;
  margin-top: 1em;
  margin-left: 5%;
  margin-right: 5%;
}


#contact {
  height: 100vh;
  
}

#blog {
  width: 50%;
  height: 100vh;
}
.blog-container {
  text-align: center;
  margin: auto;
  width: 75%;
}

.blog-post {
  font-style: italic;
  padding: 1em;
}